<a href="https://colab.research.google.com/github/mtnezmimi27/Progra-III-2023/blob/main/ejemplos_basicos_en_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduccion a python

Declaracion de variables

In [ ]:
saludo = "Hola Mundo"

print(saludo)

In [ ]:
num1 = 5
num2 = 7.5
resp = num1 + num2
print("La suma de ", num1, " + ", num2, "=", resp)

In [ ]:
name = "Emely Rodriguez"
edad = 20
saludo = "Hola "+ name + " , tu edad "+ str(edad)
print(saludo)

In [ ]:
nombre = input("Dime tu nombre: ")
edad = input("Tu Edad: ")
saludo = "Hola que tal "+ nombre + " , tu edad: "+ edad
print(saludo)

In [ ]:
num1 = float(input("Dame tu num1: "))
num2 = float(input("Dime tu num2: "))
resp = num1 + num2
print("La suma de ", num1, " + ", num2, "=", str(resp))

In [ ]:
num1 = float(input("Dame el num1: "))
num2 = float(input("Dame el num2: "))
resp = num1 - num2
print("La resta de ", num1, " + ", num2, "=", str(resp))

**FUNCIONES DE USUARIO**
Convertir grados celsius a farenheit

In [ ]:
def convertir(c):
  return 32 + c*9/5

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir(c))

In [ ]:
def convertir_cf(c)
  return 32 + c*9/5

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

**Ejercicios**
* convertir de Farenheit a celsius
* convertir de [celsius,farenheit] a kelvin

* calcular el sueldo mensual

In [ ]:
def convertir(f):

  return (f - 32) * 5/9

In [ ]:
f = float(input("farenheit: "))
print("c: ", convertir(f))

In [ ]:
def sueldo(numHrs, valorXhr):
  return numHrs*valorXhr*30

In [ ]:
valorXhr = 4
numHrs = float(input("Horas trabajadas: "))
print("sueldo: ", sueldo(numHrs, valorXhr))

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
    #isss + afp 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
    sueldo = sueldo*0.9075
    return sueldo

In [ ]:
tabla_isr = [
    [0.01, 471, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
for tramo in tabla_isr:
  if sueldo>tramo[0] and sueldo<=tramo[1]:
    impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
return impSr

NameError: ignored

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print( "Sueldo: ", s, "ISR: ", isr, s*0.9075-isr)

Lista

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

In [ ]:
f = map(lambda c:c*9/5 + 32, data)
print( list(f) )

In [ ]:
pares = filter(lambda n:n%2==0, data)
print( list(pares) )

In [ ]:
impar = filter(lambda x: x%2 != 0, data)
print(list(impar))

NameError: ignored

ciclos
*FOR

In [ ]:
for item in data:
  print(item)

while

In [ ]:
i=0
n = len(data)
while i<n:
  print( data[i] )
  i+=1

tabla de multiplicar

In [ ]:
num = int(input("numero: "))
for item in range(1,11):
  print(num, "x" , item, "=" , num*item)

numero: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

**Escribir un programa que pida la nota de examen (0-10), e imprima por pantalla la calificacion en formato: "Suspenso" si la nota es menor a 5, aprobado si es entre 5 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10**

In [ ]:
nota = float(input("Nota: "))
if(nota<0 or nota>10):
  print("Nota invalida")
elif(nota<5):
    print("Suspenso")
elif(nota<7):
  print("Aprobado")
elif(nota<9):
    print("Notable")
elif(nota<10):
      print("Sobresaliente")
else:
  print("Honorable")

Nota: 10
Honorable

**Escribe un programa que muestre la secuencia fibonacci**

In [ ]:
limit = int(input("limit: "))
a = 0
b = 1
sum = 1
count = 1
print("Fibonacci series is: ", end = " ")
while c<limit:
  count += 1
  print(a, end=" ")
  a = b
  b = sum
  sum = a + b

limit: 20
Fibonacci series is:

In [ ]:
from re import A
limit = int(input("limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a, "+",b,"=", c)
  b=a
  a=c

limit: 50
0 + 1 = 1
1 + 0 = 1
1 + 1 = 2
2 + 1 = 3
3 + 2 = 5
5 + 3 = 8
8 + 5 = 13
13 + 8 = 21
21 + 13 = 34
34 + 21 = 55

1. ** Escriba un programa que encuentre la media aritmetica de una serie de numeros intoducidas por el usuario**
2. **Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabras palindrome: Ana, oso, oro, etc**
3. Escriba un programa que convierta un numero instroducido por el usuario a su equivalente wn numeros romanos. Ejm: 5-> V**

**Actividad para el 25 de agosto**

**EJERCICIO #1**

**-Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y
sueldo neto. (20%)**

In [ ]:
sueldo = float(input("Sueldo: "))
isss = sueldo*0.03
afp = sueldo*0.0625
sueldoNeto = sueldo - (isss + afp)

tablaIsr = [
    [0.01, 472.0,    0,    0   ],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.10, 0.2, 60  ],
    [2038.11, 99999 , 0.3, 288.57]
]
isr = 0
for tramo in tablaIsr:
  if sueldoNeto>=tramo[0] and sueldo<=tramo[1]:
    isr = (sueldoNeto - tramo[0])*tramo[2] + tramo[3]
    sueldoNeto -= isr
    print(sueldo, "Deducciones: ", (isss + afp + isr), "Sueldo Neto: ", sueldoNeto)

Sueldo: 895.24
895.24 Deducciones:  134.52173 Sueldo Neto:  760.71827

**EJERCICIO #2**

**-Conversores: (40%) (10 ítems como mínimo por cada uno)**

In [ ]:
valores = [
           [],
           [0, 1, 0.85, 23.8, 35.11, 7.74, 8.75, 621.61], #monedas
           [],                                         #Longitud
           [],                                         #Masa
]
etiquetas = [
           [],
           ["1. Dolar", "2. Euro", "3. Lempira","4. Cordobas", "5. Quetzalez", "6. Colon SV", "7. Colon CR"],
           []
]
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a]/valores[conversor][de] * cantidad

print("*** MENU ***")
print("* 1. Monedas")
print("* 2. Longitud")
print("* 3. Masa")
conversor = int(input("Conversor: "))

print( etiquetas[conversor] )

de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cant: "))

print("Respuesta: ", convertir(conversor, de, a, cantidad) )

*** MENU ***
* 1. Monedas
* 2. Longitud
* 3. Masa
Conversor: 1
['1. Dolar', '2. Euro', '3. Lempira', '4. Cordobas', '5. Quetzalez', '6. Colon SV', '7. Colon CR']
DE: 1
A: 4
Cant: 1
Respuesta:  35.11

**EJERCICIO #3**

**-Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matemática para evitar ciclos. (10%)**

In [ ]:
nmeses = int(input("MESES: "))
i=0
acumulacion = 0
while i<=nmeses:
  acumulacion += i
  i+=1
  print("ACUMULACION ", acumulacion)

MESES: 10
ACUMULACION  0
ACUMULACION  1
ACUMULACION  3
ACUMULACION  6
ACUMULACION  10
ACUMULACION  15
ACUMULACION  21
ACUMULACION  28
ACUMULACION  36
ACUMULACION  45
ACUMULACION  55

In [ ]:
nmeses = int(input("Dime los Meses Acumulado: "))
acumulado = nmeses * (nmeses/2 + 0.5)
print("ACUMULADO: ", acumulado)

Dime los Meses Acumulado: 10
ACUMULADO:  55.0

**EJERCICIO #4**

**-Realizar un conversor propio, donde espesifique el valor de conversión: (10%)**

**conversion de caja a unidades y viceversa**

In [ ]:
print("1 caja equivale a 25 unidades")
print("")
cj = float(input("Ingresa una cantidad de cajas: "))
unidades = cj*25
print(cj,"cajas equivalen a" , unidades, "unidades")

1 caja equivale a 25 unidades

Ingresa una cantidad de cajas: 80
80.0 cajas equivalen a 2000.0 unidades

**VISEVERSA**

In [ ]:
uni = float(input("Ingresa una cantidad de unidades: "))
cj = uni/25
print(uni,"unidades equivalen a",cj,"cajas")

Ingresa una cantidad de unidades: 2000.0
2000.0 unidades equivalen a 80.0 cajas

**conversion de saacos a libras y viseversa**

In [ ]:
print("1 saco equivale a 50 libras")
print("")
sc = float(input("Ingresa una cantidad de sacos: "))
Ib = sc*50
print(sc,"sacos equivalen a", Ib,"libras")

1 saco equivale a 50 libras

Ingresa una cantidad de sacos: 5
5.0 sacos equivalen a 250.0 libras

**VICEVERSA**

In [ ]:
Ib = float(input("Ingresa una cantidad de libras: "))
sc = Ib/50
print(Ib,"libras equivalen a",sc,"sacos")

Ingresa una cantidad de libras: 250.0
250.0 libras equivalen a 5.0 sacos

**conversion de fardosa unidades y viseversa**

In [ ]:
print("1 fardo equivale a 5 unidades")
print("")
fr = float(input("Ingresa una cantidad de fardos: "))
un = fr*5
print(fr,"fardos equivalen a", un,"unidades")

1 fardo equivale a 5 unidades

Ingresa una cantidad de fardos: 5
5.0 fardos equivalen a 25.0 unidades

**VICEVERSA**

In [ ]:
un = float(input("Ingresa una cantidad de unidades: "))
fr = un/5
print(un,"unidades equivalen a",fr,"fardos")

Ingresa una cantidad de unidades: 25.0
25.0 unidades equivalen a 5.0 fardos



**EJERCICIO #5**

**-Calcular el valor a pagar según el número de metros consumidos de agua
potable (Ver tabla en la siguiente diapositiva).
(20%)**

In [ ]:

def calcular_valor_a_pagar(consumo_metros):
    cuota_fija = 6
    if consumo_metros <= 18:
        return cuota_fija
    elif consumo_metros <= 28:
        exceso = consumo_metros - 18
        valor_exceso = exceso * 0.45
        return cuota_fija + valor_exceso
    else:
        exceso_1 = 10
        exceso_2 = consumo_metros - 28
        valor_exceso_1 = exceso_1 * 0.45
        valor_exceso_2 = exceso_2 * 0.65
        return cuota_fija + valor_exceso_1 + valor_exceso_2

metros_consumidos = int(input("Ingrese la cantidad de metros consumidos: "))
valor_a_pagar = calcular_valor_a_pagar(metros_consumidos)
print(f"El valor a pagar es: ${valor_a_pagar:.2f}")

Ingrese la cantidad de metros consumidos: 38
El valor a pagar es: $17.00

**Viernes 01 septiempre 2021**

**PARCIAL I**

conversores
EMELY ELIZABETH RODRIGUEZ MARTINEZ
USTS046921

In [ ]:
Areas = {
"pie2": 10.7639,
"vara2": 0.698896,
"yarda2": 1.19599,
"metro2": 1,
"tareas": 0.00159033,
"manzanas": 6988.96,
"hectarea": 1e-4,

}

In [ ]:
print("Elija una area:")
for areas in Areas:
  print(area)

  nombre_de_area = ""
  nombre_area_a_convertir = ""
  while nombre_de_area not in Areas:
    nombre_de_area = input("area 1: ")

    while nombre_area_a_convertir not in Areas:
      nombre_area_a_convertir = input("area 2: ")

      cantidad = float(input(f"Ingresa la cantidad de [nombre_de_area]: "))
      equivalencia_origen = Area[nombre_de_area]
      equivalencia_destino = Areas[nombre_area_a_convertir]
      equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
      print(f"[cantidad:.2f] [nombre_de_area] equivale a [equivalencia:.2f] [nombre_area_a_convertir].")

Elija una area:
pie2